* {
  box-sizing: border-box;
}

.title {
  text-align: center;
  font-family: "Roboto";
}

.album-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
  padding: 32px;
}

.album-card:hover {
  transform: scale(1.05);
  transition: 0.6s;
  box-shadow: 4px 3px 15px 0px;
}

.album-card {
  display: grid;
  place-items: center;
  border: 2px solid rgb(32, 31, 31);
  border-radius: 15px;
  padding: 24px;
  background-color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
}
