@mixin style-buttons {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  color: #feefe5;
  padding: 12px;
  border: none;
  cursor: pointer;

  &#reset {
    background-color: rgb(243, 48, 48);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  &#submit {
    background-color: rgba(7, 223, 64, 0.962);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}

body {
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/static/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/static/Roboto-Bold.ttf);
}

.main {
  &-wrapper {
    max-width: 1200px;
    min-height: 800px;
    margin-inline: auto;
    margin-top: 64px;
    background-color: #684e32;
    border: 2px solid #5d3a00;
    border-radius: 30px;
    padding: 64px 128px;

    .content {
      &-title {
        margin-bottom: 24px;
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 40px;
        color: #feefe5;
      }
    }
  }
}

.form {
  &-flex-wrapper {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    margin-bottom: 24px;
    gap: 50px;
  }

  &-block-control {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &-buttons-control {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    button {
      @include style-buttons();
    }
  }
}

label {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  color: #feefe5;
}

input {
  max-width: 300px;
  padding: 12px;
  font-size: 24px;
  border-radius: 10px;
  border: none;
}

#todo {
  &-block {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 300px;
    padding: 24px;
    background-color: white;
    border-radius: 15px;
  }

  &-title {
    font-family: "Roboto", sans-serif;
    font-size: 32px;
  }

  &-description {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
  }

  &-id {
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    position: absolute;
    left: 400px;
  }

  &-buttons-control {
    display: flex;

    button {
      @include style-buttons();
    }
  }
}
