* {
  box-sizing: border-box;
}

.title {
  font-family: "Roboto";
  text-align: center;
  font-weight: 600;
  margin-bottom: 24px;
}

.photos-wrap {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 8px));
  gap: 16px;
  padding: 32px;
}

@media screen and (max-width: 480px) {
  .photos-wrap {
    grid-template-columns: 1fr;
    padding: 16px;
  }

  .title {
    font-size: 24px;
    margin-bottom: 0;
  }
}

.photo-card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 16px;
  font-family: "Roboto";
  padding: 16px;
}
